@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  margin-top: 2rem;
}
h1 {
  font-weight: normal;
  text-align: center;
  font-size: 3rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.expense-form {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width:1000px;
  margin: 0 auto 5rem; 
  padding:5rem;
  border-radius:15px;
  margin-top: 5rem;
}
.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}
.expense-form input, .expense-form select, .expense-form button {
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-family: inherit;
  border:1px solid lightgray;
  outline: none;
  &:focus {
    border: 1px solid crimson;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}
.expense-form button {
  width: 100%;
  background:crimson;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  transition:all 0.3s ease; 
  &:hover {
    background: #ff4d4d;
    cursor: pointer;
  }
}
label {
  font-size: 2rem;
}
.depense-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  flex-wrap:wrap;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width:1000px;
  margin: 0 auto; 
  padding:5rem;
  border-radius:15px;
}
.depense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.total {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.delete-button {
  cursor: pointer;
  background:none;
  border:none;
}
.depenses {
  display: flex;
  justify-content: center;
  max-width:1000px;
  margin:0 auto;
}
.depenses > * {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding:5rem;
  margin:50px 0;
  width:25%;
  border-radius:15px;
  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
} 